
.backLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
}


.anchorLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

